<% if user_signed_in? %>
  <% @months.each do |month| %>
    <% if @gameMedia.select{ |game| game.date_completed.strftime("%B-%Y") === "#{month}-#{@selectedYear}" }.length() > 0 %>
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <%# select_year(Date.current, start_year: Date.current.year, end_year: 2000, field_name: 'year', prompt: 'Year') %>
          <tr>
            <th>Title</th>
            <th>Rating</th>
            <th>Watch Date</th>
            <th>First Time</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @gameMedia.each do |media| %>
            <% if media.user == current_user &&
            media.date_completed.strftime("%B-%Y") === "#{month}-#{@selectedYear}" &&
          %>
            <%# <% if media.img_URL %>
            <%# <%= image_tag media.img_URL %>
            <%# <% end %>
            <tr>
              <td>
                <%= media.title %>
              </td>
              <td><%= media.rating %></td>
              <td><%= media.date_completed %></td>
              <td><%= media.first_time %></td>
              <td><%= link_to "Show", medium_path(media) %></td>
              <td><%= link_to "Edit", edit_medium_path(media) %></td>
              <td><%= button_to "Destroy", media, method: :delete, data: { confirm: "Are you sure?" } %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <td><%# link_to "New Media", new_medium_path, class:"btn btn-secondary" %></td>
  <% end %>
<% else %>
  <h1>Hello World!</h1>
  This is my first Rails Webpage...
<% end %>
