<%= form_with(model: medium) do |form| %>
  <% if medium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>
      <ul>
        <% medium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title, style: "display: block", class: "field-label" %>
    <%= form.text_field :title, class:"form-control", placeholder: "Title" %>
  </div>
  <div class="field form-group">
    <%= form.label :rating, style: "display: block", class: "field-label" %>
    <%= form.number_field :rating, class:"form-control", placeholder: "Rating" %>
  </div>
  <div class="field form-group">
    <%= form.label :date_completed, style: "display: block", class: "field-label" %>
    <%= form.date_field :date_completed, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :media_type, style: "display: block", class: "field-label" %>
    <%= form.text_field :media_type, class:"form-control", placeholder: "Media Type" %>
  </div>
  <div class="field form-group">
    <%= form.label :first_time, style: "display: block", class: "field-label" %>
    <%= form.check_box :first_time %>
  </div>
  <div class="field form-group">
    <% form.label :img_URL, style: "display: block", class: "field-label" %>
    <% form.text_field :img_URL, class:"form-control", placeholder: "Image URL" %>
  </div>
  <div class="field form-group">
    <% form.label :user_id, style: "display: block", class: "field-label" %>
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
  </div>
  <div>
    <%= form.submit class: "btn btn-secondary"%>
  </div>
<% end %>
