<div id="<%= dom_id medium %>">
  <p>
    <strong>Title:</strong>
    <%= medium.title %>
  </p>
  <p>
    <strong>Rating:</strong>
    <%= medium.rating %>
  </p>
  <p>
    <strong>Date completed:</strong>
    <%= medium.date_completed %>
  </p>
  <p>
    <strong>Media type:</strong>
    <%= medium.media_type %>
  </p>
  <p>
    <strong>First time:</strong>
    <%= medium.first_time %>
  </p>
  <p>
    <strong>Img url:</strong>
    <%= medium.img_URL %>
  </p>
  <p>
    <strong>User:</strong>
    <%= medium.user_id %>
  </p>
</div>
